<div class="container-fluid max-container">
  <div class="row">
    <div class="col-md-8">
        <h1 class="text-center">
          <%= link_to dictionary_path(@dictionary.id),method: :get do %>
            <%= @dictionary.title %>
          <% end %>
          に対するコメント(<%= @dictionary.comments.count %>件)</h1>
        <% @comments.each do |comment| %>
          <ul>
            <li>
              <%= comment.user.last_name %>
              <%= comment.user.first_name %>
              <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %><br>
              <%= comment.comment_contents %>
              <% if comment.user_id == current_user.id %>
                <%= link_to "コメントを削除",dictionary_comment_path(comment.dictionary_id,comment.id),method: :delete,"data-confirm"=>"本当に削除しますか？",class:"btn btn-sm btn-danger" %>
              <% end %>
            </li>
          </ul>
        <% end %>
    </div>
    <div class="col-md-4">
      <% if @comment.errors.any? %>
        <%= @comment.errors.count %>件のエラーが発生しました。
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <h1 class="text-center">コメントの作成</h1>
        <%= form_with model:[@dictionary,@comment] do |f| %>
          <p><%= f.text_area :comment_contents,rows:"5",placeholder:"コメントをここに",size:"50x10" %></p>
          <p><%= f.submit "送信する",class:"btn btn-sm btn-success" %></p>
        <% end %>
    </div>
  </div>
</div>