<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto text-center">
      <h1>My Dictionary</h1>
        <ul class="list-unstyled">
          <% unless user_signed_in? %>
            <li><%= link_to "新規登録",new_user_registration_path,method: :get %></li>
            <li><%= link_to "ログイン",new_user_session_path,method: :get %></li>
          <% else %>
            <li><%= link_to "辞書一覧",dictionaries_path,method: :get %></li>
            <li><%= link_to "プロフィール",user_path(current_user.id),method: :get %></li>
            <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
