<div class="container-fluid max-container">
  <%= form_with model:[@dictionary,@detail],url:dictionary_detail_path,method: :patch,local:true,class:"row" do |f| %>
    <div class="col-md-12">
      <% if @detail.errors.any? %>
        <%= @detail.errors.count %>件のエラーが発生しました。
          <ul>
            <% @detail.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
    <dl class="dl">
      <dt class="dt">単語</dt><dd class="dd"><%= f.text_field :word,placeholder:"単語を入力" %></dd>
      <dt class="dt">読み方</dt><dd class="dd"><%= f.text_field :read,placeholder:"読み方を入力" %></dd>
      <dt class="dt">説明</dt><dd class="dd"><%= f.text_area :explanation,placeholder:"説明を入力" %></dd>
      <%= f.submit "更新",class:"btn btn-sm btn-success" %>
    </dl>
  <% end %>
</div>


