<div class="container-fluid max-container">
  <div class="row">
    <div class="col-md-12">
      <dl>
        <dt><p>単語</p></dt><dd><%= @detail.word %></dd>
        <dt><p>読み方</p></dt><dd><%= @detail.read %></dd>
        <dt><p>説明</p></dt><dd><%= @detail.explanation %></dd>
      </dl>
      <% if @dictionary.user_id == current_user.id %>
        <%= link_to "編集",edit_dictionary_detail_path(@dictionary.id,@detail.id),method: :get,class:"btn btn-sm btn-success" %>
        <%= link_to "削除",dictionary_detail_path(@dictionary.id,@detail.id),method: :delete,class:"btn btn-sm btn-danger","data-confirm"=>"本当に削除しますか？" %>
      <% end %>
      <%= link_to "目次へ",dictionary_details_path(@dictionary.id),method: :get,class:"btn btn-sm btn-primary" %>
    </div>
  </div>
</div>



