<div class="container-fluid">
    <%= form_with model:@dictionary,url:dictionary_path(@dictionary.id),method: :patch,class:"row" do |dictionary| %>
      <div class="col-md-12">
        <% if @dictionary.errors.any? %>
          <%= @dictionary.errors.count %>件のエラーが発生しました。
            <ul>
              <% @dictionary.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= image_tag @dictionary.get_image(100,100),:size => "300x450",class:"dictionary-image" %>
        <p><%= dictionary.file_field :image %></p>
      </div>
      <div class="col-md-8">
        <dl class="dl">
          <dt class="dt">タイトル</dt><dd class="dd"><%= dictionary.text_field :title,size:"100x1" %></dd>
          <dt class="dt">タグ</dt><dd class="dd"><%= dictionary.text_field :tag_name,value:@tag_list,size:"100x1" %></dd>
          <dt class="dt">概要</dt><dd class="dd"><%= dictionary.text_area :summery,size:"100x12" %></dd>
          <dt class="dt">投稿ステータス</dt>
          <dd class="dd">
            <%= dictionary.radio_button :post_status,Dictionary.post_statuses.key(1) %>
            <%= dictionary.label :post_status_opening,Dictionary.post_statuses_i18n[:opening] %>
            <%= dictionary.radio_button :post_status,Dictionary.post_statuses.key(0) %>
            <%= dictionary.label :post_status_closing,Dictionary.post_statuses_i18n[:closing] %>
          </dd>
        </dl>
        <%= dictionary.submit "更新",class:"btn btn-sm btn-success" %>
      </div>
    <% end %>
</div>

