
<div class="container-fluid max-container">
  <div class="row">
    <div class="col-md-12 text-center">
       <% if params[:tag_id].present? %>
         <h1>タグが<%= @tag_f.tag_name %>の辞書一覧(全<%= @dictionaries.count %>件)</h1>
       <% else %>
         <h1>辞書一覧(全<%= @dictionaries.count %>件)</h1>
       <% end %>
    </div>
    <div class="col-md-2">
      <%= render partial: "public/dictionaries/tag",locals: {tags:@tags} %>
    </div>
    <div class="col-md-10 collection">
      <% @dictionaries.each do |dictionary| %>
        <div class="dictionary-box">
          <div class="image-box">
            <%= link_to dictionary_path(dictionary.id),method: :get do %>
              <%= image_tag dictionary.get_image(100,100),class:"collection-image" %>
            <% end %>
          </div>
          <div class="word-box">
            <dl>
            <dt>タイトル</dt>
            <dd class="index-dd">
              <%= link_to dictionary_path(dictionary.id),method: :get do %>
                <%= dictionary.title %>
              <% end %>
            </dd>
            <dt>タグ</dt><dd class="index-dd"><%= dictionary.tags.map(&:tag_name).join('、') %></dd>
            <dt>概要</dt><dd class="index-dd"><%= dictionary.summery %></dd>
            <dt>投稿ステータス</dt><dd class="index-dd"><%= dictionary.post_status_i18n %></dd>
          </dl>
            <%= link_to dictionary_comments_path(dictionary.id) do %>
              <p><%= "#{dictionary.comments.count}コメント" %></p>
            <% end %>
             <% if dictionary.favorited_by?(current_user) %>
            <p>
              <%= link_to dictionary_favorites_path(dictionary.id),method: :delete do |f| %>
                ♥<%= dictionary.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to dictionary_favorites_path(dictionary.id),method: :post do |f| %>
                ♡<%= dictionary.favorites.count %> いいね
              <% end %>
            </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

