
<div class="container-fluid max-container">
  <div class="row">
    <div class="col-md-12 text-center">
       <% if params[:tag_id].present? %>
         <h1>タグが<%= @tag_f.tag_name %>の辞書一覧(全<%= @dictionaries.count %>件)</h1>
       <% else %>
         <h1>辞書一覧(全<%= @dictionaries.count %>件)</h1>
       <% end %>
    </div>
    <div class="col-md-2">
      <%= render partial: "public/dictionaries/tag",locals: {tags:@tags} %>
    </div>
    <div class="col-md-10">
      <% @dictionaries.each do |dictionary| %>
      <%= image_tag dictionary.get_image(100,100),:size => "100,150" %>
        <dl>
          <dt>タイトル</dt><dd><%= dictionary.title %></dd>
          <dt>タグ</dt><dd><%= dictionary.tags.map(&:tag_name).join('、') %></dd>
          <dt>概要</dt><dd><%= dictionary.summery %></dd>
          <dt>投稿ステータス</dt><dd><%= dictionary.post_status_i18n %></dd>
          <%= link_to dictionary_comments_path(dictionary.id) do %>
          <dt><%= "#{dictionary.comments.count}コメント" %></dt>
          <% end %>
          <dd>
          <% if dictionary.favorited_by?(current_user) %>
          <p>
            <%= link_to dictionary_favorites_path(dictionary.id),method: :delete do |f| %>
              ♥<%= dictionary.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to dictionary_favorites_path(dictionary.id),method: :post do |f| %>
              ♡<%= dictionary.favorites.count %> いいね
            <% end %>
          </p>
          <% end %>
          </dd>
        </dl>
        <%= link_to "詳細",dictionary_path(dictionary.id),method: :get,class:"btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

