<h1>辞書一覧</h1>
<% @tags.each do |t| %>
  <%= t.name %>
  <%= "(#{t.dictionaries.count})" %>
<% end %>

<% @dictionary.each do |f| %>
  <%= image_tag f.get_image(100,100) %>
  <%= f.title %>
  <%= f.tags.map(&:tag_name).join(',') %>
  <%= f.summery %>
  <%= f.post_status %>
<% end %>