<h1>辞書の作成</h1>
<%= form_with model:@dictionary,url:dictionaries_path,method: :post,local:true do |f| %>
  <%= image_tag "no_image.jpg",:size => "300x450" %><br>
  <%= f.file_field :image,accept:"image/*" %><br>
  <%= f.label :"タイトル" %>
  <%= f.text_field :title,placeholder:"タイトルを入力",autofocus:true %><br>
  <%= f.label :"タグ" %><br>
  <%= f.label :"概要" %>
  <%= f.text_area :summery,placeholder:"概要を入力" %><br>
  <%= f.label :"公開範囲" %><br>
  <%= f.radio_button :post_status,Dictionary.post_statuses.key(1) %>
  <%= f.label :post_status_opening,Dictionary.post_statuses_i18n[:opening] %>
  <%= f.radio_button :post_status,Dictionary.post_statuses.key(0) %>
  <%= f.label :post_status_closing,Dictionary.post_statuses_i18n[:closing] %><br>
  <%= f.submit "辞書を作成",class:"btn btn-sm btn-success" %>
<% end %>
