<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @dictionary.get_image(300,450),:size => "300x450",class:"dictionary-image" %>
    </div>
    <div class="col-md-6">
      <dl>
        <dt>タイトル</dt><dd><%= @dictionary.title %></dd>
        <dt>概要</dt><dd><%= @dictionary.summery %></dd>
        <dt>タグ</dt><dd><%= @tag_list %></dd>
        <dt>投稿ステータス</dt><dd><%= @dictionary.post_status_i18n %></dd>
        <% if @dictionary.favorited_by?(current_user) %>
          <p>
            <%= link_to dictionary_favorites_path(@dictionary),method: :delete do |f| %>
              ♥<%= @dictionary.favorites.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to dictionary_favorites_path(@dictionary),method: :post do |f| %>
              ♡<%= @dictionary.favorites.count %> いいね
            <% end %>
          </p>
           <%= link_to dictionary_comments_path(@dictionary.id),method: :get do %>
          <p>コメント件数<%= @dictionary.comments.count %></p>
        <% end %>
        </dl>
      <% end %>

      <div class="border">
        <p>コメントの作成</p>
        <%= form_with model:[@dictionary,@comment] do |f| %>
          <p><%= f.text_area :comment_contents,placeholder:"コメントをここに" %></p>
          <p><%= f.submit "送信する",class:"btn btn-sm btn-success" %></p>
        <% end %>
      </div>

    </div>
    <div class="col-md-2">
      <ul class="">
        <li><%= link_to "辞書を読む",dictionary_details_path(@dictionary.id),method: :get %></li>
        <li><%= link_to "辞書一覧へ",dictionaries_path,method: :get %></li>
        <% if @dictionary.user_id == current_user.id %>
          <li><%= link_to "辞書の編集",edit_dictionary_path(@dictionary.id),method: :get %></li>
          <li><%= link_to "単語の編集",edit_dictionary_detail_path(:dictionary_id => @dictionary.id,:id => @dictionary.detail.id),method: :get %></li>
          <li><%= link_to "辞書を削除",dictionary_path(@dictionary.id),method: :delete,"data-confirm"=>"本当に削除しますか？" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


