<h1>プロフィール編集</h1>
<%= form_with model:@user,url:user_path(@user.id),method: :patch,local:true do |f| %>
  <dl>
    <dt>名前</dt><dd><%= f.text_field:last_name,placeholder:"田中" %><%= f.text_field:first_name,placeholder:"太郎" %></dd>
    <dt>ふりがな</dt><dd><%= f.text_field:last_name_kana,placeholder:"タナカ" %><%= f.text_field:first_name_kana,placeholder:"タロウ" %></dd>
    <dt>自己紹介</dt><dd><%= f.text_area:production,placeholder:"自己紹介文を書いてみましょう(この欄は空白でも問題ありません)。" %></dd>
    <dt>メールアドレス</dt><dd><%= f.text_field:email,placeholder:"tanaka@tarou.com" %></dd>
    <dt>電話番号(ハイフンなし)</dt><dd><%= f.text_field:telephone_number,placeholder:"00000000000" %></dd>
    <dt>郵便番号(ハイフンなし)</dt><dd><%= f.text_field:postal_code,placeholder:"0000000" %></dd>
    <dt>住所</dt><dd><%= f.text_field:address,placeholder:"東京都渋谷区神山町〇-〇" %></dd>
  </dl>
  <%= f.submit "変更を保存",class:"btn btn-sm btn-success" %>
<% end %>