<div class="container-fluid max-conteiner">
  <div class="row">
    <h1 class="col-md-12 text-center">プロフィール</h1>
    <div class="col-md-8">
      <dl class="dl">
        <dt class="dt">名前<dt class="dt"><dd class="dd">(姓)<%= @user.last_name %>(名)<%= @user.first_name %></dd>
        <dt class="dt">ふりがな</dt><dd class="dd">(せい)<%= @user.last_name_kana %>(めい)<%= @user.first_name_kana %></dd>
        <dt class="dt">自己紹介</dt><dd class="dd"><%= @user.production %></dd>
        <dt class="dt">メールアドレス</dt><dd class="dd"><%= @user.email %></dd>
        <dt class="dt">電話番号</dt><dd class="dd"><%= @user.telephone_number %></dd>
        <dt class="dt">郵便番号</dt><dd class="dd"><%= @user.postal_code %></dd>
        <dt class="dt">住所</dt><dd class="dd"><%= @user.address %></dd>
      </dl>
      <% if @user.id == current_user.id %>
        <%= link_to "プロフィールを編集",edit_user_path,method: :get,class:"btn btn-sm btn-success" %>
      <% end %>
    </div>
    <div class="col-md-2">
      <h3>作成した辞書</h3>
        <ul>
          <% @dictionaries.each do |dictionary| %>
            <%= link_to dictionary_path(dictionary.id),method: :get do %>
              <li><%= dictionary.title %>(<%= dictionary.post_status_i18n %>)</li>
            <% end %>
          <% end %>
        </ul>
    </div>
    <div class="col-md-2">
      <% if @user.id == current_user.id %>
      <h3>いいねした辞書</h3>
        <ul>
           <% @favorite_dictionaries.each do |dictionary| %>
              <%= link_to dictionary_path(dictionary.id),method: :get do %>
               <li><%= dictionary.title %></li>
              <% end %>
           <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

