<h1>プロフィール</h1>
<p>名前</p><%= @user.last_name %><%= @user.first_name %>
<p>ふりがな</p><%= @user.last_name_kana %><%= @user.first_name_kana %>
<p>自己紹介</p><%= @user.production %>
<p>メールアドレス</p><%= @user.email %>
<p>電話番号</p><%= @user.telephone_number %>
<p>郵便番号</p><%= @user.postal_code %>
<p>住所</p><%= @user.address %>
<%= link_to "プロフィールを編集",edit_user_path,method: :get,class:"btn btn-sm btn-success" %>